
/*通用模板*/

body
{
/*
	font-family: Microsoft Yahei,微软雅黑，宋体;
	margin:0;
	padding:0;
*/
	font-family: 'Fusion Pixel 12';
	color:#e0e0e0;
	width:100%;
	height:100%;
	background:#404040;
/*	white-space:nowrap; */
	flex-wrap: nowrap;
	
	word-wrap: break-word;
	white-space: normal;
}

input,button
{
	font-family: 'Fusion Pixel 12';
	color:#e0e0e0;
}

/*好像不是很有用。。应该得结合js来做
.Line_Window_1
{
	margin:25%;
	width:auto;
	border:1px solid #e0e0e0;
	
}
.Line_Window_1_Button_zone
{
	width:auto;
	height:auto;
	border:0px solid #e0e0e0;
	float:left
	
}
.Line_Window_1_Button
{
	margin:10px;
	paddig:5px;
	width:auto;
	height:auto;
	border:1px solid #e0e0e0;
	text-align:center;
	font-size:15px;
	font-weight:lighter;
	color:#f0f0f0;

}
*/