
/*通用模板*/

body
{
	font-family: Microsoft Yahei,微软雅黑，宋体;
	margin:0;
	padding:0;
	width:100%;
	background:#404040;
}

.LineWindow_1
{
	margin:25%;
	width:auto;
	border:1px solid #e0e0e0;
	
}
.LineWindow_1_Botton_zone
{
	width:auto;
	height:auto;
	border:0px solid #e0e0e0;
	float:left
	
}
.LineWindow_1_Botton
{
	margin:10px;
	paddig:5px;
	width:auto;
	height:auto;
	border:1px solid #e0e0e0;
	text-align:center;
	font-size:15px;
	font-weight:lighter;
	color:#f0f0f0;

}