
/*头部标题*/
.HeadLine
{
	position:absolute;
	width:100%;
	height:120px;
	margin:0px;
	padding:0px;
	border:0px solid #000000;
	background:#404040;
}
.HeadLine h1
{
	position:absolute;
	bottom:10px;
	left:10px;
	font-size:30px;
	color:#f0f0f0;
}
/*导航条*/
.NavLine_T
{
	position:absolute;
	top:120px;
	right:0;
	left:0;
	width:100%;
	height:47px;
	margin:0;
	padding:0;
	border-top:1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
	background-color:#404040;
}
.NavLine_T li
{
	margin:4px 10px;
	padding:10px 20px;
	float:left;
	font-size:20px;
}
.NavLine_T li a
{
	display:block;
	color:#f0f0f0;
	text-align:center;
	text-decoration:none;
}
.NavLine_T li:hover
{
	outline:1px solid #e0e0e0;
}

/*左侧栏目*/
.NavLine_L
{
	position:absolute;
	top:168px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:5px;
	padding:9px 9px;
	width:200px;
	height:auto;
	overflow:hidden;
	border:1px solid #e0e0e0;
	text-align:center;
}
.NavLine_L li
{	
	margin:0;
	padding:0;
	height:100%;
	float:bottom;
	font-size:20px;
	list-style:none;

}
.NavLine_L li a
{	
	width:190px;
	color:#f0f0f0;
	padding:10px 20px;
	line-height:200%;
	text-decoration:none;
}
.NavLine_L li:hover
{
	margin:0px 0px;
	padding:0px 0px;
	outline:1px solid #e0e0e0;
	
}

/*中间工作区*/
.Workplace_M
{
	position:absolute;
	top:168px;
	left:230px;
	margin-top:10px;
	margin-left:5px;
	padding:9px 9px;
	width:50%;
	height:100%;
	overflow:hidden;
	border:1px solid #e0e0e0;
	text-align:center;
	
}