
:root
{
	--Body-Background-color:#404040;
	--Window-Frame-color:#e0e0e0;
	--Font-color:#e0e0e0;
}
.login_page
{
	position:absolute;
	z-index:2;
}

body
{
	overflow:hidden;
}

.mask_layer
{
	position:absolute;
	width:100%;
	height:100%;
	background-color:var(--Body-Background-color);
	z-index:1;
}
.mask_greet
{
	position:absolute;
	width:100%;
	height:100%;
	background-color:#000000;
	opacity:0.5;
	z-index:2;
}
.window_greet
{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	
	margin-top:210px;	
	margin-bottom:210px;	
	margin-left:auto;
	margin-right:auto;
	
	width:300px;
	height:auto;
	font-size:24px;
	border:1px solid var(--Window-Frame-color);
	border-radius: 4px;
	background-color:var(--Body-Background-color);

	z-index:3;
}
.window_greet h3
{
	margin:20px;
	text-align:center;
}
.close_button
{
	position:absolute;
	top:2px;
	right:2px;
	width:auto;
	height:auto;
	
	font-size:16px;
	background-color:var(--Body-Background-color);
}
.close_button:hover
{
	cursor:default;
}

/*头部标题*/
.HeadLine
{
	position:absolute;
	width:100%;
	height:120px;
	margin:0;
	padding:0;
	border:0 solid #var(--Window-Frame-color);
	background-color:var(--Body-Background-color);
	z-index:1;
}
.HeadLine h1
{
	position:absolute;
	bottom:6px;
	left:10px;
	left:10px;
	/*font-size:30px;*/	
	color:var(--Font-color);
}
/*导航条*/
.NavLine_T
{
	position:absolute;
	top:120px;
	right:0;
	left:0;
	width:100%;
	min-width:1000px;
	height:auto;
	margin:0;
	padding:0;
	border-top:1px solid var(--Window-Frame-color);
	border-bottom:1px solid var(--Window-Frame-color);
	background-color:var(--Body-Background-color);
	z-index:1;
}
.NavLine_T li
{
	margin:6px 10px;
	padding:10px 20px;
	height:auto;
	float:left;
	/*font-size:20px;*/	
}
.NavLine_T li a
{
	display:block;
	color:var(--Font-color);
	text-align:center;
	text-decoration:none;
}
.NavLine_T li:hover
{
	outline:1px solid var(--Window-Frame-color);
	border-radius: 4px;
}

/*左侧栏目*/
.NavLine_L
{
	position:absolute;
	top:175px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:5px;
	padding:9px 9px;
	width:150px;
	height:auto;
	
	overflow:hidden;
	border:1px solid var(--Window-Frame-color);
	border-radius: 4px;
	text-align:center;
	z-index:1;
}
.NavLine_L li
{	
	margin:5px;
	padding:0;
	width:auto;
	height:auto;
	/*font-size:20px;*/	
	display: flex; /* 设置为Flex布局 */
	justify-content: center; /* 水平居中 */
	align-items: center;

}
.NavLine_L li a
{	
	width:80%;
	color:var(--Font-color);
	padding:5px 0;
	line-height:150%;
	text-decoration:none;
}
.NavLine_L li:hover
{
	outline:1px solid var(--Window-Frame-color);
	border-radius: 4px;
	
}

/*中间工作区*/
.Workplace_M
{
	position:absolute;
	top:175px;
	bottom:auto;
	left:230px;
	margin:10px 10px;
	padding:9px 9px;
	width:700px;
	height:1000px;

	border:1px solid var(--Window-Frame-color);
	border-radius: 4px;
	text-align:center;
	z-index:1;
}
.Workplace_M li
{
	margin:10px;
	width:auto;
	height:100px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--Window-Frame-color);
	border-radius: 4px;
	color:#e0e0e0;
}

/*底部条*/
.BottomLine
{
	position:absolute;
	top:1215px;
	bottom:0;
	width:100%;
	height:100px;
	margin:0;
	padding:10px;
	border-top:1px solid var(--Window-Frame-color);
	background-color:var(--Body-Background-color);
	color:var(--Body-Background-color);
	box-sizing:border-box;
	z-index:1;
}
